*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(img2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
 display: flex;
 justify-content: center;
 margin: 0 auto;
 height: 100vh;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 325px;
  min-height: 100vh;
}

.content {
  margin: 10px;
}

#question {
    font-size: 20px;
    color: white;
}

h1 {
  text-align: center;
  color: white;
  font-size: 24px;
}

.row{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#answer {
  border: none;
  padding: 10px;
  margin-top: 7px;
  /* font-size: 15px; */
}

button {
    cursor: pointer;
    border: none;
    height: 35px;
    padding: 10px;
    margin-top: 7px;
    margin-left: 5px;
    font-size: 12px;
}

button:hover {
  background-color: rgb(219, 216, 216);
}

#loaders {
  display: none;
  width: 85px;
  height: 85px;
  position: absolute;
  border-top:7px solid greenyellow;
  border-radius: 50%;
  top: 50%;
  right: 50%;
  z-index: 9;
  animation: 1s spin infinite linear;
  -webkit-animation: 1s spin infinite linear;
}


@keyframes spin {
  0% {
    transform: rotate(0);
}
  100% {
    transform: rotate(360deg);
}
}


